body {
  /* background: linear-gradient(to bottom right, #29292a 40%, #417193); */
  /* background: linear-gradient(to bottom right, #542f18, #bc7f0e 20%, #542f18); */
  background: linear-gradient(to bottom right, #4b2a16, #a25c30 20%, #4b2a16);
  color: #eeeeee;
  text-shadow: 0 0 10px black;
  height: 100vh;
  width: 100vw;
}

header {
  background-image: url("./assets/header-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 30px black;
}

.screw {
  height: 20px;
  width: 20px;
  position: absolute;
}

.screw img {
  width: 100%;
}

.top-left {
  top: 10px;
  left: 10px;
}
.top-right {
  top: 10px;
  right: 10px;
}
.bottom-left {
  bottom: 10px;
  left: 10px;
}
.bottom-right {
  bottom: 10px;
  right: 10px;
}
