@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #dad3c6;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  transition: 100ms;
}

a {
  text-decoration: none;
  color: #dad3c6;
}

body {
  /* background: linear-gradient(to bottom right, #29292a 40%, #417193); */
  /* background: linear-gradient(to bottom right, #542f18, #bc7f0e 20%, #542f18); */
  background: linear-gradient(to bottom right, #4b2a16, #a25c30 20%, #4b2a16);
  color: wheat;
  text-shadow: 0 0 10px black;
  height: 100vh;
  width: 100vw;
}

header {
  background-image: url("./assets/header-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 30px black;
}

nav {
  width: 80vw;
  margin: 0 auto;
}

nav li {
  background-image: url("./assets/navlinks-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% / 10);
  text-align: center;
  margin: 0 10px;
  padding: 20px 0;
  box-shadow: 0 10px 30px black;
}

.screw {
  height: 20px;
  width: 20px;
  position: absolute;
}

.screw img {
  width: 100%;
}

.top-left {
  top: 10px;
  left: 10px;
}
.top-right {
  top: 10px;
  right: 10px;
}
.bottom-left {
  bottom: 15px;
  left: 10px;
}
.bottom-right {
  bottom: 15px;
  right: 10px;
}

.navbar-toggler {
  background-image: url("./assets/hamburg-menu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(150%);
  transform: rotateX(180deg);
}

nav li:hover {
  cursor: pointer;
  opacity: 0.8;
  color: black;
  box-shadow: 0 0 5px black;
}

.navbar-nav a {
  font-size: 1.1rem;
  font-weight: bold;
  color: wheat;
}

@media screen and (max-width: 768px) {
  h1,
  h3 {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .headerTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
