@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #dad3c6;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: 100ms;
}
body {
  background: linear-gradient(to left, #2d4f67, #263946);

  background-repeat: repeat;
  color: wheat;

  text-shadow: 0 0 10px black;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.linea {
  background-color: #dad3c6;
  height: 2px;
}

header {
  /* background: linear-gradient(to bottom right, #1d2b35, #2d4f67); */
  background: linear-gradient(to bottom, #1e1e0d 70%, #342567);
  height: 7vh;
  padding: 0 50px;
  box-shadow: 0 0 20px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 0 10px;
  height: 100%;
}

nav ul li:hover {
  cursor: pointer;
  color: #9a8661;
}
/* -------------------------------------------- */

main {
  background-image: url("../img/background-stars.gif");
  height: 93vh;
  padding: 50px 0;
}

section {
  width: 70%;
  margin: 0 auto;
}

.info {
  /* background: linear-gradient(to bottom, #17222a 70%, #294b64); */
  background: linear-gradient(to bottom, #1e1e0d 70%, #342567);
  padding: 20px;
  margin: 0 50px;
  border-radius: 60px;
  margin-bottom: 50px;
}

.nome {
  font-size: 4rem;
  text-shadow: 0 0 4px #9a8661;
  padding-left: 50px;
  padding-bottom: 20px;
}

.professione {
  font-size: 2rem;
  text-shadow: 0 0 4px #9a8661;
  padding-left: 100px;
}
